* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #FFFFFF;
}

#main-wrapper{
	max-width: 1920px;
	margin: 0 auto;

	header{
		.header-block{
		background-color: #FFFFFF;
		max-width: 1300px;
		margin: 0 auto;
		padding-top: 19px;
		padding-bottom: 19px;
		display: flex;
		align-items: center;
		@media (max-width: 480px) {
			flex-direction: column;
		}
		.logo-wrapper{
			a{
				text-decoration: none;
				display: block;
				position: relative;
				width: 200px;
				height: 81px;
				@media (max-width: 1280px) {
					width: 180px;
				}
				img{
					width: 100%;
					&:hover{
						  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  							filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
					}
				}
			}			
		}
		.header-container{
				margin-left: 59px;
				max-width: 100%;
	   			width: 100%;
	   			@media (max-width: 1280px) {
					margin-left: 30px;
				}
				@media (max-width: 768px) {
					margin-left: 0px;
				}
				nav{
					@media (max-width: 1040px) {
						display: none;
					}
					a{
						text-decoration: none;
						margin-right: 30px;
						font-family: HelveticaNeueCyr, sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
						color: #060606;
						opacity: 0.8;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.header-content{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: space-between;
					padding-top: 23px;
					@media (max-width: 1280px) {
						justify-content: flex-end;
					}

					.contacts-wrapper{
						display: flex;
						align-items: center;
						@media (max-width: 1280px) {
							order: 4;
						}
						@media (max-width: 992px) {
							display: none;
						}
						.phone{
							margin-left: 13px;
							p, a{
								font-style: normal;
							}
							p{
								font-family: HelveticaNeueCyr, sans-serif;
								font-weight: normal;
								font-size: 13px;
								line-height: 13px;
								color: #000000;
								opacity: 0.4;
								@media (max-width: 1280px) {
									text-align: right;
								}
							}
							a{	
								text-decoration: none;
								font-family: HelveticaNeueCyr-Medium, sans-serif;
								font-weight: 500;
								font-size: 14px;
								line-height: 14px;
								color: #060606;
							}
						}
					}
					.search-wrapper{
						max-width: 411px;
						width: 100%;
						height: 100%;
						display: flex;
						position: relative;
						@media (max-width: 1280px) {
							max-width: 320px;
						}
						@media (max-width: 992px) {
							max-width: 80%;
							order: 5;
							margin-top: 10px;
						}
						@media (max-width: 480px) {
							max-width: 100%;
						}
						input{
							box-sizing: border-box;
							width: 100%;
							outline: none;
							border: none;
							background-color: #F2F4F5;
							border-radius: 40px;
							padding: 17.3px 45px 13.3px 28px;
							font-family: HelveticaNeueCyr, sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 13px;
							color: #000000;
							&::placeholder{
								opacity: 0.4;
							}
							@media (max-width: 768px) {
								padding: 13px 45px 13px 28px;
							}
						}
						img{
							width: 19px;
							position: absolute;
							right: 22px;
							top: 50%;
							transform: translate(0, -50%);
						}
					}
					.account-wrapper{
						display: flex;
						align-items: center;
						p{
							margin-left: 7px;
							a{
								text-decoration: none;
								font-family: HelveticaNeueCyr-Medium, sans-serif;
								font-style: normal;
								font-weight: 500;
								font-size: 14px;
								line-height: 14px;
								color: #060606;
							}
						}
					}
					.shopping-wrapper{
						display: flex;
						align-items: center;
						.basket-container{
							margin-left: 30px;
							margin-right: 30px;
							@media (max-width: 1280px) {
								margin-left: 15px;
    							margin-right: 20px;
							}
							
							a{
								display: inline-block;
								position: relative;
								.goods{
									min-width: 20px;
									background-color: #007BC2;
									color: #FFFFFF;
									position: absolute;
									top: -10px;
									right: -7px;
									border-radius: 50%;
									font-family: HelveticaNeueCyr, sans-serif;
									font-style: normal;
									font-weight: bold;
									font-size: 13px;
									line-height: 18px;
									text-align: center;
								}
							}
							
						}
						.cost-container{
							.cost{
								font-family: HelveticaNeueCyr, sans-serif;
								font-style: normal;
								font-weight: normal;
								font-size: 13px;
								line-height: 13px;
								color: #000000;
								opacity: 0.4;
							}
							.amount, .currency{
								margin-top: 4px;
								font-family: HelveticaNeueCyr, sans-serif;
								font-style: normal;
								font-weight: bold;
								font-size: 16px;
								line-height: 16px;
								color: #060606;
							}
						}
					}
					.callback-wrapper{
						@media (max-width: 992px) {
							display: none;
						}
						button{
							cursor: pointer;
							background: #007BC2;
							border: none;
							outline: none;
							border-radius: 25px;
							padding: 12px 23px;
							font-family: HelveticaNeueCyr-Medium, sans-serif;
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							text-align: center;
							color: #FFFFFF;
							&:hover{
								opacity: 0.9;
							}
						}
					}
				}
			}
		}
	}

	
	.menu-wrapper{
		background-color: #007BC2;
		.menu-container{
			background-color: #FFFFFF;
			max-width: 1300px;
			margin: 0 auto;
			&> ul{
				display: flex;
			}
			// Menu
			.menu-items > li{
			   margin-right: 15px;	
			}
			.down-arrow{
				margin-left: 5px;
			}
			.dropdown {
		        margin: 0;
		        padding: 0;
		        list-style: none;
		        background-color: #007BC2;
	        }

	        .dropdown li {
	            position: relative;
	            background-color: #007BC2;
	            z-index: 10;
	        }

	        .dropdown li a {         
				color: #FFFFFF;
	            text-align: center;
	            text-decoration: none;
	            display: block;
	            padding: 10px;
				font-family: HelveticaNeueCyr-Medium, sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				text-transform: uppercase;
	        }

	        .dropdown li ul {
	        	// width: 100%;
	            position: absolute;
	            top: 100%;
	            margin: 0;
	            padding: 0;
	            list-style: none;
	            display: none;
	            line-height: normal;
	            background-color: #333;
	        }

	        .dropdown li ul li a {
	            text-align: left;
	            color: #FFFFFF;
	            font-size: 14px;
	            padding: 10px;
	            display: block;
	            white-space: nowrap;
	        }

	        .dropdown li ul li a:hover {
	            color: #ffffff;
	        }

	        .dropdown li ul li ul {
	            left: 100%;
	            top: 0;
	        }

	        ul li:hover>a {
	            background-color: #02A2FF;
	            color: #ffffff !important;
	        }

	        ul li:hover>ul {
	            display: block;
	        }

	        // mobile

	        // Mobile menu

			.mobile-menu{
				display: none;
				margin: 0 0 0 auto;
				align-self: center;
				background-color: #007BC2;
				padding-left: 10px;
				@media (max-width: 768px) { 
					display: block;
				}
				.mob-menu-container {
				  margin-top: 6px;
				  display: inline-block;
				  cursor: pointer;
				  z-index: 100;
				  position: relative;
				  z-index: 101;
				  @media (max-width: 480px) { 
					transform: scale(0.43);
				 }

				  .bar1, .bar2, .bar3 {
					  width: 28px;
					  height: 3px;
					  background-color: #FFFFFF;
					  margin: 6px 0;
					  transition: 0.4s;
					  margin-right: 0px;
					}
				
				}
			}
			// Animate Mobile burger menu
			.change .bar1 {
			  -webkit-transform: translate(6px,9px) rotate(45deg);
			  transform: translate(0px, 9px) rotate(45deg);
			}

			.change .bar2 {opacity: 0;}

			.change .bar3 {
			  -webkit-transform: translate(8px, -9px) rotate(-45deg);
				transform: translate(0px, -9px) rotate(-45deg)
			}

			@media (max-width: 768px) {
				.menu-items{
					flex-direction: column;
					display: none;
				}
				.dropdown li ul {
				 	position: static;
				}
				.dropdown li a {
					text-align: left;
				}
				.dropdown li ul li a{
					font-size: 12px;
				}
				
			}
			// end mobile

			// End Menu
		}
	}
	.main{
		width: 100%;
		margin: 0 auto;
		position: relative;
		cursor: pointer;
					overflow: hidden;
		.main-slider-buttons{
			max-width: 1300px;
			width: 100%;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0%);
			bottom: 11%;
			display: flex;
			align-items: center;
			z-index: 10;
			@media (max-width: 1340px) {
				padding: 0 30px;
				box-sizing: border-box;
			}
			.prev-service, .next-service{
				cursor: pointer;
				background: none;
				border-radius: 50%;
				border: 1px solid #FFFFFF;
				outline: none;
				text-align: center;
				width: 45px;
				height: 45px;
				position: relative;
				@media (max-width: 768px) {
					width: 25px;
    				height: 25px;
				}

				&:hover{
					border: 1px solid #02A2FF;
					svg path{
						fill: #02A2FF;
					}
				}
				svg{
					width: 8.32px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					@media (max-width: 768px) {
						width: 5.2px;
					}
				}
			}
			.next-service{
				margin-left: 15px;
			}
			.pagingInfo{
				margin-left: 20px;
			}
		}
		.main-slider{

			.service{
				position: relative;
				padding-top: 170px;
				padding-bottom: 321px;
				overflow: hidden;
				@media (max-width: 768px) {
					padding-top: 110px;
				 	padding-bottom: 150px;
				}
				@media (max-width: 480px) {
					padding-top: 75px;
   					padding-bottom: 100px;
				}
				img{
					height: 100%;
					box-sizing: border-box;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
				}

				.service-desc{
					max-width: 1300px;
					width: 100%;
					margin: 0 auto;
					@media (max-width: 1340px) {
						padding: 0 30px;
						box-sizing: border-box;
					}
					h1{
						letter-spacing: 1.5px;
						font-family: HelveticaNeueCyr, sans-serif;
						font-style: normal;
						font-weight: bold;
						font-size: 60px;
						text-transform: uppercase;
						color: #FFFFFF;
						@media (max-width: 992px) {
							font-size: 40px;
						}
						@media (max-width: 768px) {
							font-size: 27px;
						}
						@media (max-width: 480px) {
							font-size: 23px;
						}
					}
					ul{
						list-style: inside;
						margin-top: 52px;
						li{
							font-family: HelveticaNeueCyr, sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 18px;
							line-height: 30px;
							color: #FFFFFF;
							opacity: 0.8;
							@media (max-width: 480px) {
								font-size: 16px;
							}
						}
					}
					button{
						margin-top: 30px;
						cursor: pointer;
						background: #02A2FF;
						border-radius: 30px;
						border: none;
						outline: none;
						font-family: HelveticaNeueCyr-Medium, sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						padding: 14px 28px;
						// line-height: 18px;
						text-align: center;
						color: #FFFFFF;
						@media (max-width: 768px) {
							font-size: 12px;
    						padding: 10px 22px;
						}
						&:hover{
							opacity: 0.9;
						}

					}
				}

			}
		}
	}
	.sc-1{
		.advantages-wrapper{
			background-color: #EEF4F8;
			padding: 41px 0 60px 0;
			.advanatges-container{
				max-width: 1300px;
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				.advantage{
					display: flex;
					max-width: 260px;
					width: 100%;
					margin-top: 3px;
					margin-bottom: 5px;
					padding-right: 5px;
					box-sizing: border-box;
					@media (max-width: 820px) {
						max-width: 33%;
					}
					@media (max-width: 590px) {
						max-width: 50%;
					}
					@media (max-width: 480px) {
						max-width: 100%;
					}

					.number{
						font-family: HelveticaNeueCyr-Heavy, sans-serif;
						font-style: normal;
						font-weight: 900;
						font-size: 18px;
						line-height: 18px;
						color: #007BC2;
					}
					.adv{
						padding-top: 15px;
						display: flex;
						align-items: center;
						img{
							margin-right: 15px;
							@media (max-width: 768px) {
								width: 40px;
							}
						}
						p{
							font-family: HelveticaNeueCyr, sans-serif;
							font-style: normal;
							font-weight: bold;
							font-size: 16px;
							line-height: 20px;
							color: #060606;
						}
					}
				}
				.advantage:first-child .adv p{
					max-width: 153px;
				}
				.advantage:nth-child(2) .adv p{
					max-width: 109px;
				}
				.advantage:nth-child(3) .adv p, .advantage:nth-child(4) .adv p{
					max-width: 136px;
				}
				.advantage:nth-child(5) .adv p{
					max-width: 86px;
				}
			}
		}
	}
	.sc-2{
		.categories-wrapper{
			background-color: #FFFFFF;
			.categories-container{
				display: flex;
				flex-wrap: wrap;
				.ctg-item{
					margin-top: -1px;
					width: 50%;
					box-sizing: border-box;
					padding: 93px 5px 70px 82px;
					position: relative;
					overflow: hidden;
					z-index: 5;
					@media (max-width: 768px) {
						padding: 55px 5px 40px 20px;
					}
					@media (max-width: 550px) {
						width: 100%;
					}
					.ctg-background{
						position: absolute;
						height: 100%;
						z-index: -5;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
					&:hover{
						.ctg-background{
							height: 120%;
							transition: all ease 1s;
						}
					}
					h2{
						font-family: HelveticaNeueCyr, sans-serif;
						font-style: normal;
						font-weight: bold;
						font-size: 45px;
						text-transform: uppercase;
						color: #FFFFFF;
						margin-bottom: 35px;
						@media (max-width: 1055px) {
							font-size: 40px;
						}
						@media (max-width: 992px) {
							font-size: 30px;
						}
						@media (max-width: 768px) {
							font-size: 25px;
						}
						@media (max-width: 480px) {
							font-size: 21px;
						}
					}
					.from{
						font-family: HelveticaNeueCyr;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 20px;
						color: #FFFFFF;
						@media (max-width: 480px) {
							font-size: 12px;
						}
						span{
							font-size: 25px;
							@media (max-width: 992px) {
								font-size: 22px;
							}
							@media (max-width: 480px) {
								font-size: 17px;
							}
						}
					}
					.wholesale, .retail{
						font-family: HelveticaNeueCyr-Light, sans-serif;
						font-style: normal;
						font-weight: 300;
						font-size: 14px;
						line-height: 20px;
						color: #FFFFFF;
						opacity: 0.7;
						margin-bottom: 15px;
					}
					button{
						margin-top: 130px;

						@media (max-width: 992px) {
							margin-top: 40px;
						}
						@media (max-width: 992px) {
							padding: 7px 16px;
						}
						@media (max-width: 480px) {
							margin-top: 22px;
						}

					}
				}
			}
		}
	}
	.sc-3{
		.pop-product-wrapper{
			background-color: #FFFFFF;
				.product-types{			
					text-align: center;
					margin: 0 auto;
					margin-top: 45px;
					margin-bottom: 25px;
					@media (max-width: 480px) {
						margin-top: 22px;
					}
					a{
						margin: 0 15px 0 15px;
						text-decoration: none;
						font-family: HelveticaNeueCyr-Medium, sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 18px;
						text-align: center;
						color: #000000;
						@media (max-width: 480px) {
							line-height: 45px;
						}
					}
				}
				.product-tab{
					.pop-product-container{
					max-width: 1300px;
					width: 100%;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					@media (max-width: 1026px) {
						justify-content: center;
					}

					.product-item{
						position: relative;
						padding-bottom: 15px;
						max-width: 316.5px;
						margin-right: 11.3px;
						margin-top: 5px;
						width: 100%;
						.advantages-badges{
							position: absolute;
							top: 18px;
							left: -7px;
							display: flex;
							flex-wrap: wrap;
							flex-direction: column;
							img{
								margin: 0 auto 0 0;
								margin-top: 6px;
							}
						}
						.product-img-wrapper{
							padding: 36px 40px;
							border: 1px solid #E5EBEF;
							box-sizing: border-box;
							margin-bottom: 20px;
							img{
								max-width: 209px;
								height: auto;
							}
						}
						h4{
							font-family: HelveticaNeueCyr;
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							line-height: 23px;
							color: #060606;
						}
						.prices-container{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							margin-top: 23px;
							.retail-price, .wholesale-price{
								.prd-price{
									font-family: HelveticaNeueCyr, sans-serif;
									font-style: normal;
									font-weight: bold;
									font-size: 18px;
									line-height: 20px;
									color: #1F1F1F;
								}
								.prd-retail, .prd-wholsale{
									font-family: HelveticaNeueCyr, sans-serif;
									font-style: normal;
									font-weight: normal;
									font-size: 14px;
									line-height: 20px;
									color: #999999;
								}
							}
						}


						.prd-basket{
							box-sizing: border-box;
							margin: 15px 0px;
							@media (max-width: 992px) {
								margin-top: 40px;
							}
							@media (max-width: 992px) {
								padding: 7px 16px;;
							}
							img{
								vertical-align: middle;
								margin-right: 9px;
							}
						}
					}
					@media (min-width: 1342px) {
						.product-item:nth-child(4n){
							margin-right: 0px;
						}
					}
					@media (max-width: 1026px) {
						.product-item{
							margin-left: 11.3px;
						}
					}
				}
			}
			
		}
	}
	.sc-4{
		.svc-wrapper{
			.svc-container{
				margin-top: 70px;
				display: flex;
				flex-wrap: wrap;
				background: url('../img/uniforms.png') no-repeat left top, linear-gradient(0deg, #EEF4F8 0%, #EEF4F8 24%, #FFFFFF 24%, #FFFFFF 100%); 
				background-size: 839px auto, auto;
				@media (max-width: 1875px) {
					background: url('../img/uniforms.png') no-repeat left top, linear-gradient(0deg, #EEF4F8 0%, #EEF4F8 33%, #FFFFFF 33%, #FFFFFF 100%); 
					background-size: 739px auto, auto;
				}
				@media (max-width: 1685px) {
					background: url('../img/uniforms.png') no-repeat left top, linear-gradient(0deg, #EEF4F8 0%, #EEF4F8 41%, #FFFFFF 41%, #FFFFFF 100%); 
					background-size: 650px auto, auto;
				}
				@media (max-width: 1500px) {
					background: url('../img/uniforms.png') no-repeat left top, linear-gradient(0deg, #EEF4F8 0%, #EEF4F8 46%, #FFFFFF 46%, #FFFFFF 100%); 
					background-size: 595px auto, auto;
				}
				@media (max-width: 1380px) {
					background: none,  #EEF4F8;
				}
				@media (max-width: 480px) {
					margin-top: 22px;
				}
				.uniforms{
					width: 100%;
					background-color: #FFFFFF;
					img{
						vertical-align: top;
						max-width: 839px;
						width: 100%;
						height: auto;
						@media (max-width: 1875px) {
							max-width: 839px;
						}
					}
				}
				.svc-slider-wrapper{
					width: 100%;
					overflow: auto;
					padding-left: 100px;
					padding-right: 100px;
					position: relative;
					@media (max-width: 768px) {
						padding-left: 20px;
						padding-right: 20px;
					}
					.svc-slider-buttons{
					    position: absolute;
					    bottom: 465px;
					    left: 50%;
					    z-index: 10;
					    transform: translate(-59%, 0);
						z-index: 10;
						padding-left: 100px;
						@media (max-width: 768px) {
							transform: translate(-92%, 0);
						}
						@media (max-width: 480px) {
							transform: translate(-50%, 0);
						}

						.prev-svc, .next-svc{
							outline: none;
							cursor: pointer;
							display: inline-block;
							background-color: #FFFFFF;
							border: 1px solid #007BC2;
							border-radius: 50%;
							box-sizing: border-box;
							// opacity: 0.15;
							width: 45px;
							height: 45px;
							position: relative;
							@media (max-width: 768px) {
								width: 25px;
			    				height: 25px;
							}
							svg{
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								@media (max-width: 768px) {
									width: 5.2px;
								}
							}
							&:hover {
								border: 1px solid #02A2FF;
								svg path{
									fill: #02A2FF;
								}
							}
						}
						.next-svc{
							margin-left: 15px;
						}
						@media (max-width: 1380px) {
							padding-left: 0px;
						}
						@media (max-width: 768px) {
							top: auto;
							bottom: 15px;
						}
					}


					.svc-slider{
						.svc-item{
							outline: none;
							border: none;
							.svc-title{
								display: flex;
								justify-content: center;
								padding-top: 35px;
								padding-bottom: 125px;
								padding-left: 100px;
								position: relative;
								@media (max-width: 1380px) {
									padding-left: 0px;
								}
								@media (max-width: 768px) {
									padding-bottom: 35px;
								}
								img{
									width: 30px;
									// align-self: top;
									height: 100%;
									margin: 11px 20px 0px 60px;
									@media (max-width: 480px) {
										margin: 11px 20px 0px 0px;
									}
								}
								h3{
									max-width: 239px;
									font-family: HelveticaNeueCyr, sans-serif;
									font-style: normal;
									font-weight: bold;
									font-size: 18px;
									line-height: 35px;
									text-transform: uppercase;
									@media (max-width: 480px) {
										font-size: 16px;
									}
								}
							}
							.svc-desc-wrapper{
								display: flex;
								justify-content: center;
								.svc-desc-1{
									max-width: 680px;
									box-sizing: border-box;
									padding: 53px 51px 53px 59px;
									background-color: #007BC2;
									@media (max-width: 480px) {
										padding: 35px 12px 70px 12px;
									}
									h2{
										font-family: HelveticaNeueCyr, sans-serif;
										font-style: normal;
										font-weight: bold;
										font-size: 24px;
										line-height: 22px;
										color: #FFFFFF;
										@media (max-width: 480px) {
											font-size: 19px;
										}
									}
									p{	
										margin-top: 12px;	
										font-family: HelveticaNeueCyr, sans-serif;
										font-style: normal;
										font-weight: normal;
										font-size: 16px;
										line-height: 28px;
										color: #FFFFFF;
										opacity: 0.8;
										@media (max-width: 480px) {
											line-height: 23px;
										}
									}
									button{
										margin-top: 29px;
										@media (max-width: 992px) {
											padding: 7px 16px;
										}
									}
								}
								.svc-desc-2{
									@media (max-width: 1380px) {
										display: none;
									}
									img{
										height: auto;
										margin-left: -1px;
									}
								}
							}
							
						}
					}
				}
			}
		} 
	}
	.sc-5{
		.comments-wrapper{
			background-color: #EEF4F8;
			padding-bottom: 106px;
			.comments-container{
				max-width: 1300px;
				width: 100%;
				margin: 0 auto;
				padding-top: 48px;
				@media (max-width: 480px) {
					padding-top: 22px;
				}

				.comments-slider{
					overflow: hidden;

					.slick-track
					{
					    display: flex !important;
					}

					.slick-slide
					{
					    height: inherit !important;
					    margin-left:  15px;
    					margin-right:  15px;
					}
					.slick-list {
					    margin-left: -10px;
					    margin-right: -10px;
				    }

					.comments-item{
						background-color: #FFFFFF;
						box-shadow: 0px 7px 12px -4px rgba(0,0,0,0.25);
						margin-bottom: 10px;
						outline: none;
						cursor: pointer;
						padding: 38px 45px 44px 45px;
						@media (max-width: 480px) {
							padding: 18px 10px 30px 10px;
						}
						img{
							width: 100%;
							height: 100%;
						}
						h3{
							font-family: HelveticaNeueCyr, sans-serif;
							font-style: normal;
							font-weight: bold;
							font-size: 18px;
							line-height: 32px;
							color: #060606;
						}
						.comment-date, .comment{
							font-family: HelveticaNeueCy, sans-serif;
							font-style: normal;
							font-weight: normal;
							color: #060606;
						} 
						.comment-date{
							font-size: 14px;
							opacity: 0.6;
						}
						.comment{
							padding-top: 33px;
							font-size: 15px;
							line-height: 24px;
							opacity: 0.8;
						}
					}
				}

				.comments-slider-buttons{
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					padding-top: 50px;
					.prev-comment, .next-comment{
						background-color: transparent;
						cursor: pointer;
						outline: none;
						width: 45px;
						height: 45px;
						border: 1px solid rgba(6,6,6, 0.15);
						box-sizing: border-box;
						border-radius: 50%;
						position: relative;
						@media (max-width: 768px) {
							width: 25px;
							height: 25px;
						}
						svg{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							@media (max-width: 768px) {
								width: 5.2px;
							}
						}
						&:hover {
							border: 1px solid #02A2FF;
							svg path{
								fill: #02A2FF;
							}
						}
					}
				}
			}
		}
	}
	.sc-6{
		overflow: hidden;
		.factory-wrapper{
			background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 7%,#EEF4F8 7%, #EEF4F8 58.5%, #FFFFFF 58.5% , #FFFFFF 100%);
			@media (max-width: 992px) {
				background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 5%, #EEF4F8 5%, #EEF4F8 80.5%, #FFFFFF 80.5%, #FFFFFF 100%);
			}

			.factory-container{
				max-width: 1300px;
				width: 100%;
				margin: 0 auto;
				padding-top: 54px;
				display: flex;
				flex-wrap: wrap;
				@media (max-width: 480px) {
					padding-top: 2px;
				}
				.factory-uniform-1, .factory-desc-1,.factory-desc-2, .factory-uniform-2{
					width: 50%;
					@media (max-width: 992px) {
						width: 100%;
					}
				}

				.factory-uniform-1{
					display: flex;
					flex-wrap: wrap;
					height: 100%;
					img{
						max-width: 280px;
						width: 45%;
						height: auto;
					}
					img:first-child{
						margin-right: 10px;
					}
				}
				.factory-desc-1{
					padding-left: 90px;
					box-sizing: border-box;
					align-self: center;
					@media (max-width: 1280px) {
						padding-left: 0;
					}
					h2{
						font-family: HelveticaNeueCyr, sans-serif;
						font-style: normal;
						font-weight: bold;
						font-size: 24px;
						line-height: 28px;
						color: #060606;
						@media (max-width: 992px) {
							font-size: 18px;
						}
					}
					p{
						padding-top: 17px;
					}
				}
				.factory-desc-1, .factory-desc-2{
					p{
						font-family: HelveticaNeueCyr, sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 28px;
						color: #060606;
						opacity: 0.8;
					}
				}
				.factory-desc-2{
					padding-top: 66px;
					p{
						max-width: 529px;
						margin: 0 0 0 auto;
					}
				}
				.factory-uniform-2{
					padding-left: 90px;
					box-sizing: border-box;
					text-align: right;
					img{
						 max-width: 470px;
						 width: 100%;
						 height: auto;
					}
				}
				@media (max-width: 992px) {
					flex-direction: column;
					.factory-uniform-1, .factory-desc-1,.factory-desc-2, .factory-uniform-2{
						margin: 20px auto;
					}
					.factory-desc-2{
						order: 3;
						padding-top: 0px;
						p{
							margin-left: 0;
						}
					}
					.factory-uniform-2{
						padding-left: 0;
						text-align: left;
					}
				}
			}
		}
	}
	footer{
		padding-bottom: 100px;
		.footer-container{
			max-width: 1300px;
			width: 100%;
			margin: 0 auto;
			padding-top: 54px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.social,.pop-categories, .helpful-info, .contacts{
				max-width: 25%;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				img{
					width: 19px;
					height: auto;
				}
			}
			.social{
				img{
					max-width: 200px;
					width: 100%;
					height: 90px;
					margin-bottom: 33px;
					&:hover{
					  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
							filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
					}
				}
				h5{					
					font-family: HelveticaNeueCyr, sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 13px;
					line-height: 13px;
					color: #000000;
					opacity: 0.4;
				}
				.social-container{
					padding-top: 12px;
					cursor: pointer;
					span{
						color: #060606;
						opacity: 0.6;
						font-size: 21px;
						margin-right: 19px;
						vertical-align: middle;
						&:hover{
							color: #007BC2;
						}
					}

					.icon-vk{font-size: 17px; &:hover{color: #158FD5;}}
					.icon-facebook{&:hover{color: #158FD5;}}
					.icon-ok{&:hover{color: #F58220;}}
					.icon-instagram{&:hover{color: #BC2A8D;}}
					.icon-twitter{&:hover{color: #22B6F7;}}	
				}
			}
			.pop-categories, .helpful-info{
				h3{
					font-family: HelveticaNeueCyr, sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 32px;
					color: #060606;
				}
				a{
					text-decoration: none;
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 22px;
					color: #060606;
					opacity: 0.8;
					&:hover{
						color: #007BC2;
					}
				}
			}
			.contacts{
				button{
					margin-bottom: 25px;
				}
				.address, .schedule{
					.cont-item{
						p{
							font-family: HelveticaNeueCyr, sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 13px;
							line-height: 16px;
							color: #060606;
						}
					}
				}
				.our-number, .address, .schedule{
					display: flex;
					// flex-wrap: wrap;
					margin-bottom: 20px;
					// align-items: top;
					img{
						margin-right: 13px;
						align-self: start;
						margin-top: 5px;
					}
					.cont-item{
						p:first-child{
							margin-bottom: 5px;
							font-family: HelveticaNeueCyr, sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 13px;
							line-height: 13px;
							color: #000000;
							opacity: 0.4;
						}
					}
				}
				.our-number{
					a{
						text-decoration: none;
						font-family: HelveticaNeueCyr-Medium, sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 14px;
						color: #060606;
						&:hover{
							color: #007BC2;
						}
					}
				}
			}
			@media (max-width: 895px) {
				& > div{
					max-width: 50% !important;
					margin-top: 15px;
				}
			}
			@media (max-width: 480px) {
				& > div{
					max-width: 100% !important;
				}
			}
		}
	}
	
}

// Styling Comments slider dots
.com-dots {
	display: flex;
	justify-content: center;					
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;	
	margin: 0px 30px;

		li {
			margin: 0 0.25rem;
			background-color: transparent;
		}
	
		button {
			position: relative;
			outline: none;
			cursor: pointer;
			background-color: transparent;
			display: block;
			width: 25px;
			height: 25px;
			padding: 0;	
			border: none;
			border-radius: 100%;
			font-size: 0;		
			text-indent: -9999px;
			@media (max-width: 768px) {
				width: 15px;
				height: 15px;
			}

			&::before {
			  // content: "•";
			  content: "";
			  color: red;
			  display: block;
			  width: 5px;
			  height: 5px;
			  background-color: rgba(6, 6, 6, 0.5);;
			  margin: 0 auto;
			  border-radius: 50%;
			}
		}
	
		li.slick-active button {
			border: 1px solid #007BC2;
			&::before{
				background-color: #007BC2;
			}
		}
	
}
	
// End Comments slider dots

	
.current-page{
	font-family: HelveticaNeueCyr, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	@media (max-width: 768px) {
		font-size: 18px;
	}
}

.last-page{
	font-family: HelveticaNeueCyr-Medium, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.4;
	@media (max-width: 480px) {
		font-size: 16px;
	}
}

.overlay-height{
	height: 100% !important;
}

.sc-title{
	font-family: HelveticaNeueCyr, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	text-align: center;
	color: #060606;
	@media (max-width: 992px) {
		font-size: 30px;
	}
	@media (max-width: 480px) {
		font-size: 21px;
	}
}
hr{
	margin: 0 auto;
	margin-top: 22px;
	max-width: 345px;
	width: 100%;
	height: 5px;
	background: #007BC2;
}

.active-type{
	border: 1px solid #007BC2;
	box-sizing: border-box;
	border-radius: 25px;
	padding: 12px 25px;
	color: #007BC2 !important;
	transition: all ease 0.1s;
}
.red{
	color: #ED282B !important;
}
.blue{
	color: #007BC2 !important;
}

.last-price{
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: line-through;
	color: #999999;
}
.discount{
	background-color: #ED282B;
	margin: 0 15px;
	padding: 5px;
	font-family: HelveticaNeueCyr, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
}
.prd-currency{
	font-family: HelveticaNeueCyr, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	// color: #1F1F1F;
}

.btn-white{
	cursor: pointer;
    outline: none;
    background: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #007BC2;
    &:hover{
    	opacity: 0.9;
    }
    img {
    	display: inline !important;
	    vertical-align: middle;
	    margin-left: 5px;
	}
}
.btn-blue{
	cursor: pointer;
    outline: none;
    background: #007BC2;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    &:hover{
    	opacity: 0.9;
    }
}



header, .menu-wrapper, .advantages-wrapper, .pop-product-wrapper, .comments-wrapper, .factory-wrapper, footer{
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.callback-wrapper, .shopping-wrapper, .account-wrapper, .search-wrapper, .contacts-wrapper{
	@media (max-width: 1280px) {
		margin: 5px;
	}

}

.categories-wrapper, .pop-product-wrapper, .svc-wrapper, .comments-wrapper, .factory-wrapper {
	padding-top: 100px;
	@media (max-width: 480px) {
		padding-top: 70px;
	}
}

// End Common styles


// Fonts 

// HelveticaNeueCyr Roman
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/helveticaneuecyr-roman.eot'); /* IE 9 Compatibility Mode */
	src: url('..fonts/HelveticaNeueCyr/helveticaneuecyr-roman.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/HelveticaNeueCyr/helveticaneuecyr-roman.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/HelveticaNeueCyr/helveticaneuecyr-roman.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('..fonts/HelveticaNeueCyr/helveticaneuecyr-roman.ttf') format('truetype'), /* Safari, Android, iOS */
		url('..fonts/HelveticaNeueCyr/helveticaneuecyr-roman.svg#helveticaneuecyr-roman') format('svg'); /* Chrome < 4, Legacy iOS */
}

// HelveticaNeueCyr Medium
@font-face {
	font-family: 'HelveticaNeueCyr-Medium';
	src: url('../fonts/HelveticaNeueCyr-Medium/helveticaneuecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/HelveticaNeueCyr-Medium/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/HelveticaNeueCyr-Medium/helveticaneuecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/HelveticaNeueCyr-Medium/helveticaneuecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/HelveticaNeueCyr-Medium/helveticaneuecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/HelveticaNeueCyr-Medium/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

// HelveticaNeueCyr Heavy
@font-face {
	font-family: 'HelveticaNeueCyr-Heavy';
	src: url('../fonts/HelveticaNeueCyr-Heavy/helveticaneuecyr-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/HelveticaNeueCyr-Heavy/helveticaneuecyr-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/HelveticaNeueCyr-Heavy/helveticaneuecyr-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/HelveticaNeueCyr-Heavy/helveticaneuecyr-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/HelveticaNeueCyr-Heavy/helveticaneuecyr-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/HelveticaNeueCyr-Heavy/helveticaneuecyr-heavy.svg#helveticaneuecyr-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HelveticaNeueCyr-Light';
	src: url('../fonts/HelveticaNeueCyr-Light/helveticaneuecyr-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/HelveticaNeueCyr-Light/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/HelveticaNeueCyr-Light/helveticaneuecyr-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/HelveticaNeueCyr-Light/helveticaneuecyr-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/HelveticaNeueCyr-Light/helveticaneuecyr-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/HelveticaNeueCyr-Light/helveticaneuecyr-light.svg#helveticaneuecyr-light') format('svg'); /* Chrome < 4, Legacy iOS */
}


// font icons


@font-face {
  font-family: 'icomoon';
  src:  url('../img/font-icons/social/icomoon.eot?940tsf');
  src:  url('../img/font-icons/social/icomoon.eot?940tsf#iefix') format('embedded-opentype'),
    url('../img/font-icons/social/icomoon.ttf?940tsf') format('truetype'),
    url('../img/font-icons/social/icomoon.woff?940tsf') format('woff'),
    url('../img/font-icons/social/icomoon.svg?940tsf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-ok:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}


